.comida {
    text-align: center;
    margin-block-start: 30px;
}


.boton {
    color: #fff;
    background-color: black;
    border-color: black;
    width: 100px;
    height: 38px;
    align-self: center;
    margin-block-end: 70px;
    margin-block-start: 15px;

}

.botonopp {
    margin-block-start: 38%;
    height: 150px;
    width: 150px;
    background-color: gray;
    border-radius: 100px;
    border-color: gray;
    padding-block-end: 5px;
    font-size: 80px;
    position: absolute;
}

.btn-primary:hover {
    color: #fff;
    background-color: burlywood;
    border-color: burlywood;
}

.card {
    border: none;
}

.card-deck {
    width: 1200px;
    margin-block-end: 50px;
    margin-inline-start: 0px;
}

.card-deck2 {
    width: 1300px;
    margin-block-end: 50px;
    margin-inline-start: 15px;
}


.guardadas {
    margin-inline-start: 40px;
}

.botong {
    margin-inline-start: 115px;
}

.card3 {
    margin-inline-start: 20px;
}

.opp {
    opacity: 50%;
}



.boton4 {
    margin-inline-start: 82px;
}