.comida {
    text-align: center;
}

.boton {
    color: #fff;
    background-color: black;
    border-color: black;
    margin-block-start: 10px;
    margin-left: 33%;
    width: 100px;
    height: 38px;
    text-align: center;
}

.btn-primary:hover {
    color: #fff;
    background-color: burlywood;
    border-color: burlywood;
}

.card {
    border: none;
}

.card-deck {
    width: 1350px;
    margin-block-end: 50px;
}

.card-deck2 {
    width: 400px;
    margin-block-end: 50px;
    margin-inline-start: 15px;
}

.guardadas {
    margin-inline-start: 40px;
}

.botong {
    margin-inline-start: 115px;
}

.card3 {
    margin-inline-start: 20px;
}

.opp {
    opacity: 50%;
}

.botonopp {
    width: 120px;
}