@media only screen and (min-width: 0px) and (max-width: 575px) {

    .propa {

        font-family: "Anton script=latin rev=2";
        font-weight: 1000;
        font-style: oblique;
        font-size: 25px;
    }

}

.comida {
    text-align: center;
    margin-block-start: 30px;
}

.t1 {
    margin-block-start: 70px;
    margin-inline-start: 10px;

}



.card {
    border: none;
    width: 300px;
    margin-inline-start: 85px;
    display: ruby;
}




.boton3 {
    background-color: burlywood;
    border-color: burlywood;
}

.formulario {
    margin-left: 90px !important;
    width: 70% !important;

}

.preguntacc {
    margin-block-start: 80px;
    font-size: 18px !important;
}

.jumbotron3 {
    height: 1200px;
    background-size: 700px;
}


.receta1 {
    margin-inline-start: 30px !important;
}


.formulario {
    width: 50%;
    margin-block-end: 160px;
    margin-block-start: 40px;
    margin-inline-start: 400px;

}




@media only screen and (min-width: 576px) and (max-width: 800px) {

    nav ul li {
        display: inline;
        text-align: center;
        margin-left: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    p {

        font-size: 18px;
        font-family: 'Trebuchet MS';
        margin: 15%;
        margin-inline-start: 30px;

        span {
            font-family: 'Times New Roman', Times, serif;
            color: $color2;

        }
    }



    .navbar-nav {
        padding-left: 5%;

        a.nav-link.nombres {
            color: white;
        }
    }

    .propa {

        font-family: "Anton script=latin rev=2";
        font-weight: 2000;
        font-style: oblique;
        font-size: 25px;
    }

    .comida {
        text-align: center;
        margin-block-start: 30px;
    }

    .t1 {
        margin-block-start: 70px;
        margin-inline-start: 10px;

    }



    .card {
        border: none;
        width: 300px;
        margin-inline-start: 180px !important;
    }

    .card-deck {
        display: inline;
    }


    .añadir {
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .boton3 {
        background-color: burlywood;
        border-color: burlywood;
    }

    .formulario {
        margin-left: 90px !important;
        width: 70% !important;

    }

    .jumbotron3 {
        height: 1200px;
        background-size: 700px;
    }


    .receta1 {
        margin-inline-start: 30px !important;
    }

    .boton2 {
        width: 205px !important;
    }

}

@media only screen and (min-width: 801px) and (max-width: 900px) {

    nav ul li {
        display: inline;
        text-align: center;
        margin-left: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    p {

        font-size: 18px;
        font-family: 'Trebuchet MS';
        margin: 15%;
        margin-inline-start: 30px;

        span {
            font-family: 'Times New Roman', Times, serif;
            color: $color2;

        }
    }

    .bg-dark {
        --bs-bg-opacity: 0;
        background-color: $color1 !important;
    }

    .navbar-nav {
        padding-left: 5%;

        a.nav-link.nombres {
            color: white;
        }
    }

    .propa {

        font-family: "Anton script=latin rev=2";
        font-weight: 1000;
        font-style: oblique;
        font-size: 25px;
    }

    .comida {
        text-align: center;
        margin-block-start: 30px;
        font-size: 15px;
    }

    .t1 {
        margin-block-start: 70px;
        margin-inline-start: 10px;

    }


    .card-deck {
        width: 760px !important;
        margin-block-end: 50px;
        margin-inline-start: 0px;
    }



    .boton3 {
        background-color: burlywood;
        border-color: burlywood;
    }

    .formulario {
        margin-left: 90px !important;
        width: 70% !important;

    }

    .preguntacc {
        margin-block-start: 80px;
        font-size: 18px !important;
    }

    .jumbotron3 {
        height: 1200px;
        background-size: 700px;
    }


    .botonopp {
        height: 50px !important;
        width: 50px !important;
        font-size: 20px !important;
    }

    .boton2 {
        width: 105px !important;
    }


    .formulario {
        width: 50%;
        margin-block-end: 160px;
        margin-block-start: 40px;
        margin-inline-start: 400px;

    }

}

@media only screen and (min-width: 901px) and (max-width: 1301px) {


    p {

        font-size: 30px;
        font-family: 'Trebuchet MS';
        margin: 15%;

        span {
            font-family: 'Times New Roman', Times, serif;
            color: $color2;

        }
    }


    //* navbar inicio *//

    .bg-dark {
        --bs-bg-opacity: 0;
        background-color: $color1 !important;
    }

    .navbar-nav {
        padding-left: 25%;

        a.nav-link.nombres {
            color: white;
        }
    }

    nav ul li {
        display: inline;
        margin: 20px;
        margin-inline-start: 40px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .propa {

        font-family: "Anton script=latin rev=2";
        font-weight: 1000;
        font-style: oblique;
        font-size: 25px;
    }

    .comida {
        text-align: center;
        margin-block-start: 30px;
        font-size: 15px;
    }

    .t1 {
        margin-block-start: 70px;
        margin-inline-start: 10px;

    }

    .card-deck {
        width: 860px !important;
        margin-block-end: 50px;
        margin-inline-start: 0px;
    }


    .boton3 {
        background-color: burlywood;
        border-color: burlywood;
    }

    .formulario {
        margin-left: 90px !important;
        width: 70% !important;

    }

    .preguntacc {
        margin-block-start: 80px;
        font-size: 18px !important;
    }


    .botonopp {
        margin-block-start: 85px !important;
        height: 50px !important;
        width: 50px !important;
        font-size: 20px !important;
    }

    .jumbotron3 {
        height: 1200px;
        background-size: 700px;

    }

    .boton2 {
        width: 235px !important;
    }





    .formulario {
        width: 50%;
        margin-block-end: 160px;
        margin-block-start: 40px;
        margin-inline-start: 400px;

    }


}