
.receta1{
    margin-left: 2%;
}

.text1{
    margin-block-end: 20px;
}

.title2{
    margin-left: 2%;
    
}

.list-group{
    font-size: 16px;

}

.parrafo{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-inline-start: 25px;
    margin-block-start: 30px;
    margin-right: 40px;

}

.boton2{
    margin-inline-start: 1px;
    width: 100%;
    margin-block-end: 30px;
}

.boton3{
    background-color: burlywood;
    border-color: burlywood;
}

.formulario{
    width: 50%;
    margin-block-end: 160px;
    margin-block-start: 40px;
    margin-inline-start: 400px;

}

.preguntacc{
    margin-inline-start: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}


.espacio{
    margin-block-start: 15px;
}


