* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titulo1 {
  -webkit-padding-start: 70%;
          padding-inline-start: 70%;
  font-size: 200%;
  -webkit-padding-after: 10%;
          padding-block-end: 10%;
  -webkit-padding-before: 5%;
          padding-block-start: 5%;
}

p {
  font-size: 30px;
  font-family: 'Trebuchet MS';
  margin: 15%;
}

p span {
  font-family: 'Times New Roman', Times, serif;
  color: palevioletred;
}

.bg-dark {
  --bs-bg-opacity: 0;
  background-color: burlywood !important;
}

.navbar-nav {
  padding-left: 25%;
}

.navbar-nav a.nav-link.nombres {
  color: white;
}

nav ul li {
  display: inline;
  margin: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbotron {
  background-image: url(/img/negro.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align-last: center;
}

.jumbotron .text {
  -webkit-margin-after: 25%;
          margin-block-end: 25%;
  margin-right: auto;
  margin-left: 50%;
}

.jumbotron .segundo {
  color: transparent;
}

.footer {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.footer .box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 110px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, burlywood), to(pink));
  background-image: linear-gradient(to right, burlywood 60%, pink);
}

.footer .h2, .footer h2 {
  font-size: 22px;
  color: palevioletred;
  font-family: "Times New Roman", Times, serif;
}

.footer a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.main {
  padding: 3%;
  width: 70%;
}

.t1 {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
  font-size: 150%;
}

h1.lead.titulo1 {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.contenedor {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item1 item2 item3";
  -ms-grid-columns: 400px 400px 400px;
      grid-template-columns: 400px 400px 400px;
  -ms-grid-rows: 400px 400px 400px;
      grid-template-rows: 400px 400px 400px;
  grid-gap: 40px;
  height: 500px;
  width: 100%;
}

.item {
  height: 400px;
  width: 400px;
}

.item1 {
  -ms-grid-column: 1;
  grid-area: item1;
  background-image: url(img/img1.png);
  background-size: cover;
  background-position: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.item2 {
  -ms-grid-column: 2;
  grid-area: item2;
  background-image: url(img/5.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.item3 {
  -ms-grid-column: 3;
  grid-area: item3;
  background-image: url(img/tiramisu.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.textos {
  display: -ms-grid;
  display: grid;
  font-size: 20px;
  display: inline-block;
  width: 10%;
  padding: 5px 5px 5px 5px;
  color: 5px;
  margin: 18px;
  border: none;
  width: 100%;
  height: 80px;
}

.muffins {
  text-align: center;
  text-decoration: none;
  font-size: 120%;
}

.muffins a {
  text-decoration: none;
  color: black;
}

.chess {
  text-align: center;
  font-size: 120%;
}

.tiramisu {
  text-align: center;
  font-size: 120%;
}

.contenedor2 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item4 item5";
  background-color: none;
  -ms-grid-rows: 400px 50px;
      grid-template-rows: 400px 50px;
  grid-gap: 60px;
  padding: 20px;
  height: 600px;
}

.item {
  border: 0px solid white;
}

.item4 
  grid-area: item4;
  background-color: violet;
  background-image: url(img/img1.png);
  background-size: cover;
  background-position: center;
}

.item5 {
  -ms-grid-column: 2;
  grid-area: item5;
  background-color: tomato;
  background-image: url(img/img2.jpg);
  background-size: cover;
  background-position: center;
}

.cuestionario {
  padding-top: 5;
  padding: auto;
  display: inline;
  height: 300px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 250px;
  -ms-flex-line-pack: center;
      align-content: center;
}

fieldset {
  min-width: 5%;
  padding: 5%;
  position: static;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tabla {
  float: right;
  padding: 10px;
}

.preparacion {
  font-size: 25px;
  padding-left: 30px;
}

.lorem {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  inline-size: 50%;
}

@media only screen and (min-width: 0px) and (max-width: 667px) {
  .contenedor {
    display: block;
        grid-template-areas: "item1"
 "item2" 
 "item3";
    -ms-grid-columns: 0% 0% 0%;
        grid-template-columns: 0% 0% 0%;
    -ms-grid-rows: 500px 500px 500px;
        grid-template-rows: 500px 500px 500px;
    height: 1500px;
    width: 100%;
    margin: 20%;
  }
  .item1 {

    grid-area: item1;
    background-image: url(img/img1.png);
    -ms-grid-column-span: 1;
    grid-column: 1/2;

    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .item2 {
    -ms-grid-row: 2;
    grid-area: item2;
    background-image: url(img/5.jpg);
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .item3 {
    -ms-grid-row: 3;
    grid-area: item3;
    background-image: url(img/tiramisu.jpg);
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 3;
    grid-row: 3/3;
  }
  .muffins {
    margin-left: 30%;
    -webkit-margin-after: 10%;
            margin-block-end: 10%;
    -webkit-margin-before: 10%;
            margin-block-start: 10%;
    text-decoration: none;
    font-size: 120%;
  }
  .muffins a {
    text-decoration: none;
    color: black;
  }
  .chess {
    margin-left: 30%;
    -webkit-margin-after: 10%;
            margin-block-end: 10%;
    -webkit-margin-before: 10%;
            margin-block-start: 10%;
    font-size: 120%;
  }
  .tiramisu {
    margin-left: 30%;
    -webkit-margin-after: 10%;
            margin-block-end: 10%;
    -webkit-margin-before: 10%;
            margin-block-start: 10%;
    font-size: 120%;
  }
  .t1 {
    -webkit-margin-after: 15px;
            margin-block-end: 15px;
    font-size: 150%;
  }
  .titulo {
    text-align: right;
    margin-top: 20px;
    -webkit-margin-after: 20px;
            margin-block-end: 20px;
  }
  .contenedor2 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "item4" "item5";
    background-color: none;
    -ms-grid-rows: 400px 50px;
        grid-template-rows: 400px 50px;
    grid-gap: 60px;
    padding: 20px;
    height: 600px;
  }
  .item4 {
    -ms-grid-row: 1;
    grid-area: item4;
    background-color: violet;
    background-image: url(img/img1.png);
    background-size: cover;
    background-position: center;
  }
  .item5 {
    -ms-grid-row: 2;
    grid-area: item5;
    background-color: tomato;
    background-image: url(img/img2.jpg);
    background-size: cover;
    background-position: center;
  }
  .titulo {
    text-align: center;
  }
  .encontra {
    font-size: 20px;
    -webkit-margin-after: 150px;
            margin-block-end: 150px;
  }
  .box__footer {
    -webkit-margin-before: 100%;
            margin-block-start: 100%;
  }
  .chess {
    color: transparent;
  }
  .tiramisu {
    color: transparent;
  }
}

@media only screen and (min-width: 667px) and (max-width: 800px) {
  .contenedor {
    display: block;
        grid-template-areas: "item1"
 "item2" 
 "item3";
    -ms-grid-columns: 0% 0% 0%;
        grid-template-columns: 0% 0% 0%;
    -ms-grid-rows: 500px 500px 500px;
        grid-template-rows: 500px 500px 500px;
    height: 1500px;
    width: 100%;
    margin: 20%;
  }
  .item1 {
    -ms-grid-row: 1;
    grid-area: item1;
    background-image: url(img/img1.png);
    background-position: right;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-left: 10%;
  }
  .item2 {
    -ms-grid-row: 2;
    grid-area: item2;
    background-image: url(img/5.jpg);
    background-position: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-left: 10%;
  }
  .item3 {
    -ms-grid-row: 3;
    grid-area: item3;
    background-image: url(img/tiramisu.jpg);
    background-position: center;
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 3;
    grid-row: 3/3;
    margin-left: 10%;
  }
  .muffins {
    -webkit-margin-after: 10%;
            margin-block-end: 10%;
    -webkit-margin-before: 10%;
            margin-block-start: 10%;
    text-decoration: none;
    font-size: 120%;
  }
  .muffins a {
    text-decoration: none;
    color: black;
  }
  .chess {
    color: transparent;
  }
  .tiramisu {
    color: transparent;
  }
  .t1 {
    -webkit-margin-after: 15px;
            margin-block-end: 15px;
    font-size: 150%;
  }
  .contenedor2 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "item4" 
 "item5";
    background-color: none;
    -ms-grid-rows: 400px 50px;
        grid-template-rows: 400px 50px;
    grid-gap: 60px;
    padding: 20px;
    height: 600px;
  }
  .item4 {
    -ms-grid-row: 1;
    grid-area: item4;
    background-color: violet;
    background-image: url(img/img1.png);
    background-size: cover;
    background-position: center;
  }
  .item5 {
    -ms-grid-row: 2;
    grid-area: item5;
    background-color: tomato;
    background-image: url(img/img2.jpg);
    background-size: cover;
    background-position: center;
  }
  .titulo {
    text-align: center;
  }
  .chess {
    color: transparent;
  }
  .tiramisu {
    color: transparent;
  }
  .box__footer {
    -webkit-margin-before: 100%;
            margin-block-start: 100%;
  }
}

@media only screen and (min-width: 667px) and (max-width: 800px) and (min-width: 800px) and (max-width: 1200px) {
  .contenedor {
    display: block;
        grid-template-areas: "item1"
 "item2" 
 "item3";
    -ms-grid-columns: 0% 0% 0%;
        grid-template-columns: 0% 0% 0%;
    -ms-grid-rows: 500px 500px 500px;
        grid-template-rows: 500px 500px 500px;
    height: 1500px;
    width: 100%;
    margin: 20%;
  }
  .item1 {
    -ms-grid-row: 1;
    grid-area: item1;
    background-image: url(img/img1.png);
    background-position: right;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-left: 10%;
  }
  .item2 {
    -ms-grid-row: 2;
    grid-area: item2;
    background-image: url(img/5.jpg);
    background-position: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-left: 10%;
  }
  .item3 {
    -ms-grid-row: 3;
    grid-area: item3;
    background-image: url(img/tiramisu.jpg);
    background-position: center;
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 3;
    grid-row: 3/3;
    margin-left: 10%;
  }
  .muffins {
    -webkit-margin-after: 10%;
            margin-block-end: 10%;
    -webkit-margin-before: 10%;
            margin-block-start: 10%;
    text-decoration: none;
    font-size: 120%;
  }
  .muffins a {
    text-decoration: none;
    color: black;
  }
  .chess {
    margin-left: 10%;
    -webkit-margin-after: 10%;
            margin-block-end: 10%;
    -webkit-margin-before: 10%;
            margin-block-start: 10%;
    font-size: 120%;
  }
  .tiramisu {
    margin-left: 10%;
    -webkit-margin-after: 10%;
            margin-block-end: 10%;
    -webkit-margin-before: 10%;
            margin-block-start: 10%;
    font-size: 120%;
  }
  .t1 {
    -webkit-margin-after: 15px;
            margin-block-end: 15px;
    font-size: 150%;
  }
  .contenedor2 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "item4" 
 "item5";
    background-color: none;
  }
  .item4 {
    -ms-grid-row: 1;
    grid-area: item4;
    background-color: violet;
    background-image: url(img/img1.png);
    background-size: cover;
    background-position: center;
  }
  .item5 {
    -ms-grid-row: 2;
    grid-area: item5;
    background-color: tomato;
    background-image: url(img/img2.jpg);
    background-size: cover;
    background-position: center;
  }
  .chess {
    margin-right: 30%;
    -webkit-margin-before: 1%;
            margin-block-start: 1%;
  }
  .tiramisu {
    margin-right: 30%;
    -webkit-margin-before: 1%;
            margin-block-start: 1%;
  }
  .box__footer {
    -webkit-margin-before: 100%;
            margin-block-start: 100%;
  }
}
/*# sourceMappingURL=estilo.css.map */