$color1: burlywood;
$color2: palevioletred;
$font1: "Times New Roman",
Times,
serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//* "recetas" inicio *//

.titulo1 {
    padding-inline-start: 70%;
    font-size: 200%;
    padding-block-end: 10%;
    padding-block-start: 5%;
}

//* "recetas" fin *//


//* Index inicio *//
//* navbar inicio *//

.main {

    padding: 3%;
    width: 70%;

}

p {

    font-size: 30px;
    font-family: 'Trebuchet MS';
    margin: 15%;

    span {
        font-family: 'Times New Roman', Times, serif;
        color: $color2;

    }
}


.bg-dark {
    --bs-bg-opacity: 0;
    background-color: $color1 !important;
}

.navbar-nav {
    padding-left: 25%;

    a.nav-link.nombres {
        color: white;
    }
}

nav ul li {
    display: inline;
    margin: 20px;
    margin-inline-start: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

//* navbar fin *//


.jumbotron {
    background-image: url(/img/fijo2.jpg);
    background-position: center;
    background-size: cover;
    color: #251b04;
    text-align: right;

}


.propa {

    font-family: "Anton script=latin rev=2";
    font-weight: 1000;
    font-style: oblique;
}

.t1 {
    font-size: 150%;
    margin-top: none;
    margin-block-end: 50px;
    margin-block-start: 50px;
    margin-inline-start: 20px;
}

.contenedor {

    display: grid;
    grid-template-areas:
        "item1 item2 item3 item4";

    grid-template-columns: 325px 325px 325px;

    grid-template-rows: 550px 550px 550px;


    .item {

        height: 300px;
        width: 300px;
        margin-inline-start: 10px;
    }

    .item1 {

        grid-area: item1;
        grid-column: 1/2;


    }

    .item2 {
        grid-area: item2;
        grid-column: 2/3;

    }

    .item3 {
        grid-area: item3;
        grid-column: 3/4;

    }

    .item4 {
        grid-area: item4;
        grid-column: 4/5;

    }
}

.c2 {
    height: 600px !important;
}




//* Index fin *//



//* Perfil inicio *//


.jumbotron2 {
    background-image: url(/img/dulces8.jpg);
    color: #ffffff;
    height: 550px;
    margin-block-end: 0px;
    text-align: center;

}

//* Perfil fin *//


//* Subir inicio *//

.formulario {
    width: 50%;
    margin-block-end: 160px;
    margin-block-start: 40px;
    margin-inline-start: 400px;

}

.preguntacc {
    margin-inline-start: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-block-start: 80px;
}


.espacio {
    margin-block-start: 15px;
}


.añadir {
    color: white;
}


.añadir:hover {
    color: rgb(196, 104, 119);
    border-color: burlywood;
}



//* Subir fin *//

//* Nosotros inicio *//

.jumbotron3 {
    background-image: url(/img/dulces12.jpg);
    color: white;
    background-size: 650px;
    height: 900px;
    margin-block-end: 0px;
    text-align: center;

}

.preg {
    padding-block-end: 50px;
    padding-block-start: 80px;

}

.resta {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


//* Nosotros fin *//

//* Receta inicio *//

.card {
    border: none;
}

.receta1 {
    margin-left: 2%;
    width: 85%;
}

.text1 {
    margin-block-end: 20px;
}

.title2 {
    margin-left: 2%;
}


.lead {
    font-size: 30px;
    text-align: center;
    margin-block-start: 50px;
    margin-block-end: 50px;

}


.list-group {
    font-size: 16px;

}

.parrafo {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-inline-start: 25px;
    margin-block-start: 30px;
    margin-right: 40px;
    margin-block-end: 200px;

}

.parrafo2 {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-inline-start: 30px;
    margin-block-start: 20px;
    margin-right: 40px;

}


//* Receta fin *//



//* inicio footer *//

.footer {
    width: 100%;
    display: grid;

    .box__footer {
        display: flex;
        height: 300px;
        flex-direction: column;
        background-image: linear-gradient(to right, $color1 60%, pink)
    }

    .navbar-footer {
        margin-block-start: 175px;
    }

    .footer-copyright {
        color: white;
        text-decoration: none;

    }
}

//* fin footer *//




$redes: (
    /*Declaramos nuestro mapa*/
    red1: rgb(248, 112, 134),
    red2: black,

);

/*Creamos el bucle para usar los valores del mapa*/
@each $red,
$color in $redes {
    .circulo--#{$red} {
        color: $color;
    }
}


.historia {
    background-image: url(/img/dulces6.jpg);
    background-position-x: center;
    height: 1000px;
    width: 100%;
    margin-block-start: 2px;
    color: white;
}

.text-center {
    margin-inline-start: 20px;
}




.boton2 {
    width: 365px;
}

.boton3 {
    background-color: burlywood;
    border-color: burlywood;
}



.padd {
    padding-block-start: 20px;
    padding-block-end: 40px;
}

.padd2 {
    padding-block-start: 3px;
    padding-inline-start: 2px;
}

.comida {
    text-align: center;
    margin-block-start: 30px;
}


.boton {
    color: #fff;
    background-color: black;
    border-color: black;
    width: 100px;
    height: 38px;
    align-self: center;
    margin-block-end: 70px;
    margin-block-start: 15px;

}

.botonopp {
    margin-block-start: 38%;
    height: 150px;
    width: 150px;
    background-color: gray;
    border-radius: 100px;
    border-color: gray;
    padding-block-end: 5px;
    font-size: 80px;
    position: absolute;
}

.btn-primary:hover {
    color: #fff;
    background-color: burlywood;
    border-color: burlywood;
}


.opp {
    opacity: 50%;
}


.boton4 {
    margin-inline-start: 82px;
}


.t1 {
    margin-inline-start: 20px;
}





@media screen and (min-width: 0px) and (max-width: 600px) {

    nav ul li {
        display: inline;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }



    .propa {

        font-family: "Anton script=latin rev=2";
        font-weight: 1000;
        font-style: oblique;
        font-size: 25px;
    }



    .contenedor {

        display: grid;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8";

        grid-template-columns: 300px;
        grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px;


        .item {

            height: 250px;
            width: 250px;
            margin-inline-start: 100px;

        }

        .item1 {

            grid-area: item1;
            grid-column: 1/2;


        }

        .item2 {
            grid-area: item2;
            grid-column: 1/2;

        }

        .item3 {
            grid-area: item3;
            grid-column: 1/2;

        }

        .item4 {
            grid-area: item4;
            grid-column: 1/2;

        }

        .item5 {
            grid-area: item5;
            grid-column: 1/2;

        }

        .item6 {
            grid-area: item6;
            grid-column: 1/2;

        }

        .item7 {
            grid-area: item7;
            grid-column: 1/2;

        }

        .item8 {
            grid-area: item8;
            grid-column: 1/2;

        }

    }

    .c2 {
        height: 2000px !important;
    }

    .comida {
        text-align: center;
        margin-block-start: 30px;
    }

    .t1 {
        margin-block-start: 70px;
        margin-inline-start: 20px;

    }



    .card {
        border: none;
        width: 300px;
        margin-inline-start: 85px;
        display: ruby;
    }




    .boton3 {
        background-color: burlywood;
        border-color: burlywood;
    }

    .formulario {
        margin-left: 90px !important;
        width: 70% !important;

    }

    .preguntacc {
        margin-block-start: 80px;
        font-size: 18px;
    }

    .jumbotron3 {
        height: 1200px;
        background-size: 700px;
    }


    .receta1 {
        margin-inline-start: 30px;
    }


    .formulario {
        width: 50%;
        margin-block-end: 160px;
        margin-block-start: 40px;
        margin-inline-start: 400px;

    }

}





@media only screen and (min-width: 601px) and (max-width: 800px) {
    nav ul li {
        display: inline;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
}


.c2 {
    height: 1000px !important;
}



.navbar-nav {
    padding-left: 5%;

    a.nav-link.nombres {
        color: white;
    }
}

.propa {

    font-family: "Anton script=latin rev=2";
    font-weight: 2000;
    font-style: oblique;
    font-size: 25px;
}

.comida {
    text-align: center;
    margin-block-start: 30px;
}

.t1 {
    margin-block-start: 70px;
    margin-inline-start: 20px;

}


.contenedor {

    display: grid;
    grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8";

    grid-template-columns: 280px;
    grid-template-rows: 450px 450px 450px 450px 450px 450px 450px 450px;
    height: 2000px;

    .item {

        height: 240px;
        width: 240px;
        margin-inline-start: 10px;

    }

    .item1 {

        grid-area: item1;
        grid-column: 1/2;


    }

    .item2 {
        grid-area: item2;
        grid-column: 2/3;

    }

    .item3 {
        grid-area: item3;
        grid-column: 1/2;

    }

    .item4 {
        grid-area: item4;
        grid-column: 2/3;

    }

    .item5 {
        grid-area: item5;
        grid-column: 1/2;

    }

    .item6 {
        grid-area: item6;
        grid-column: 2/3;

    }

    .item7 {
        grid-area: item7;
        grid-column: 1/2;

    }

    .item8 {
        grid-area: item8;
        grid-column: 2/3;

    }

}



.añadir {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.boton3 {
    background-color: burlywood;
    border-color: burlywood;
}

.formulario {
    margin-left: 90px;
    width: 70%;

}

.jumbotron3 {
    height: 1200px;
    background-size: 700px;
}


.receta1 {
    margin-inline-start: 30px;
}

.boton2 {
    width: 205px;
}


@media only screen and (min-width: 801px) and (max-width: 910px) {

    nav ul li {
        display: inline;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .bg-dark {
        --bs-bg-opacity: 0;
        background-color: $color1 !important;
    }

    .propa {

        font-family: "Anton script=latin rev=2";
        font-weight: 1000;
        font-style: oblique;
        font-size: 25px;
    }

    .c2 {
        height: 1200px !important;
    }

    .comida {
        text-align: center;
        margin-block-start: 30px;
        font-size: 15px;
    }

    .t1 {
        margin-block-start: 70px;
        margin-inline-start: 10px;

    }


    .contenedor {

        display: grid;
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "item5 item6"
            "item7 item8";

        grid-template-columns: 390px;
        grid-template-rows: 550px 550px 550px 550px 550px 550px 550px 550px;
        height: 2500px;


        .item {

            height: 300px;
            width: 300px;
            margin-inline-start: 10px;

        }

        .item1 {

            grid-area: item1;
            grid-column: 1/2;


        }

        .item2 {
            grid-area: item2;
            grid-column: 2/3;

        }

        .item3 {
            grid-area: item3;
            grid-column: 1/2;

        }

        .item4 {
            grid-area: item4;
            grid-column: 2/3;

        }

        .item5 {
            grid-area: item5;
            grid-column: 1/2;

        }

        .item6 {
            grid-area: item6;
            grid-column: 2/3;

        }

        .item7 {
            grid-area: item7;
            grid-column: 1/2;

        }

        .item8 {
            grid-area: item8;
            grid-column: 2/3;

        }

    }



    .boton3 {
        background-color: burlywood;
        border-color: burlywood;
    }

    .formulario {
        margin-left: 90px !important;
        width: 70% !important;

    }

    .preguntacc {
        margin-block-start: 80px;
        font-size: 18px;
    }

    .jumbotron3 {
        height: 1200px;
        background-size: 700px;
    }

    .boton2 {
        width: 105px;
    }


    .formulario {
        width: 50%;
        margin-block-end: 160px;
        margin-block-start: 40px;
        margin-inline-start: 400px;

    }

}

@media only screen and (min-width: 901px) and (max-width: 1000px) {


    nav ul li {
        display: inline;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .c2 {
        height: 1200px !important;
    }


    .propa {

        font-family: "Anton script=latin rev=2";
        font-weight: 1000;
        font-style: oblique;
        font-size: 25px;
    }

    .comida {
        text-align: center;
        margin-block-start: 30px;
        font-size: 20px;
    }

    .t1 {
        margin-block-start: 70px;
        margin-inline-start: 10px;

    }

    .contenedor {

        display: grid;
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "item5 item6"
            "item7 item8";

        grid-template-columns: 500px;
        grid-template-rows: 600px 600px 600px 600px 600px 600px 600px 600px;

        .item {

            height: 330;
            width: 330;
            margin-inline-start: 10px;

        }

        .item1 {

            grid-area: item1;
            grid-column: 1/2;


        }

        .item2 {
            grid-area: item2;
            grid-column: 2/3;

        }

        .item3 {
            grid-area: item3;
            grid-column: 1/2;

        }

        .item4 {
            grid-area: item4;
            grid-column: 2/3;

        }

        .item5 {
            grid-area: item5;
            grid-column: 1/2;

        }

        .item6 {
            grid-area: item6;
            grid-column: 2/3;

        }

        .item7 {
            grid-area: item7;
            grid-column: 1/2;

        }

        .item8 {
            grid-area: item8;
            grid-column: 2/3;

        }

    }


    .boton3 {
        background-color: burlywood;
        border-color: burlywood;
    }

    .formulario {
        margin-left: 90px;
        width: 70%;

    }

    .preguntacc {
        margin-block-start: 80px;
        font-size: 18px;
    }



    .jumbotron3 {
        height: 1200px;
        background-size: 700px;

    }

    .boton2 {
        width: 235px;
    }


    .formulario {
        width: 50%;
        margin-block-end: 160px;
        margin-block-start: 40px;
        margin-inline-start: 400px;

    }


}

@media only screen and (min-width: 1001px) and (max-width: 1300px) {


    nav ul li {
        display: inline;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .c2 {
        height: 600px !important;
    }

    .propa {

        font-family: "Anton script=latin rev=2";
        font-weight: 1000;
        font-style: oblique;
        font-size: 25px;
    }

    .comida {
        text-align: center;
        margin-block-start: 30px;
        font-size: 20px;
    }

    .t1 {
        margin-block-start: 70px;
        margin-inline-start: 10px;

    }

    .contenedor {

        display: grid;
        grid-template-areas:
            "item1 item2 item3 item4";

        grid-template-columns: 240px 240px 240px;

        grid-template-rows: 450px 450px 450px;
        height: 1000px;

        .item {

            height: 200px;
            width: 200px;
            margin-inline-start: 10px;
        }

        .item1 {

            grid-area: item1;
            grid-column: 1/2;


        }

        .item2 {
            grid-area: item2;
            grid-column: 2/3;

        }

        .item3 {
            grid-area: item3;
            grid-column: 3/4;

        }

        .item4 {
            grid-area: item4;
            grid-column: 4/5;

        }
    }




    .boton3 {
        background-color: burlywood;
        border-color: burlywood;
    }

    .formulario {
        margin-left: 90px;
        width: 70%;

    }

    .preguntacc {
        margin-block-start: 80px;
        font-size: 18px;
    }


    .botonopp {
        margin-block-start: 85px;
        height: 70px;
        width: 70px;
        font-size: 35px;
    }

    .jumbotron3 {
        height: 1200px;
        background-size: 700px;

    }

    .boton2 {
        width: 235px;
    }


    .formulario {
        width: 50%;
        margin-block-end: 160px;
        margin-block-start: 40px;
        margin-inline-start: 400px;

    }


}

@media only screen and (min-width: 1301px) and (max-width: 1400px) {



    .propa {

        font-family: "Anton script=latin rev=2";
        font-weight: 1000;
        font-style: oblique;
        font-size: 25px;
    }

    .comida {
        text-align: center;
        margin-block-start: 30px;
        font-size: 20px;
    }

    .t1 {
        margin-block-start: 70px;
        margin-inline-start: 20px;

    }

    .contenedor {

        display: grid;
        grid-template-areas:
            "item1 item2 item3 item4";

        grid-template-columns: 300px 300px 300px;

        grid-template-rows: 500px 500px 500px;
        height: 1000px;

        .item {
            width: 280px;
            margin-inline-start: 10px;
        }

        .item1 {

            grid-area: item1;
            grid-column: 1/2;


        }

        .item2 {
            grid-area: item2;
            grid-column: 2/3;

        }

        .item3 {
            grid-area: item3;
            grid-column: 3/4;

        }

        .item4 {
            grid-area: item4;
            grid-column: 4/5;

        }
    }




    .boton3 {
        background-color: burlywood;
        border-color: burlywood;
    }

    .formulario {
        margin-left: 90px;
        width: 70%;

    }

    .preguntacc {
        margin-block-start: 80px;
        font-size: 18px;
    }


    .jumbotron3 {
        height: 1200px;
        background-size: 700px;

    }

    .boton2 {
        width: 235px;
    }


    .formulario {
        width: 50%;
        margin-block-end: 160px;
        margin-block-start: 40px;
        margin-inline-start: 400px;

    }


}